.gpt3__header{
    display: flex;
    flex-direction: row;
}
.gpt3__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5rem;
}
.gpt3__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gpt3__header-image img{
    width: 110%;
    height: 100%;
}
@media screen and (max-width:1050px){
    .gpt3__header{
        flex-direction: column;
    } 
    .gpt3__header-content{
        margin: 5rem 40 4rem;
    }
    
}

.gpt3__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.04rem;

}
.gpt3__header-content p{
    color:var(--color-text);
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 27px;
    margin-top:1.5rem  ;

}
.gpt3__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem ;
    display: flex;
}
.gpt3__header-content__input input{
    flex: 2;
    min-width: 50px;
    background: var(--color-footer);
    border-radius: 5px 0px 0px 6px;
    outline: none;
    border: none;
    font-family: var(--font-family);
    width: 100%;
    color: #fff;
    line-height: 27px;
    font-size: 20px;
    padding: .5rem 1rem;


}
.gpt3__header-content__input button{

    flex: 0.6;
    width: 100%;
    min-height: 50px;
    background: #ff4820;
    color: #fff;
    font-family: var(--font-family);
    padding:0 1rem ;
    outline: none;
    border-radius: 0px 6px 6px 0px;
    border: none;
    line-height: 27px;
  cursor: pointer;
  font-size: 20px;


}
.gpt3__header-content__people{
    width: 100%;
    display:flex ;
    justify-content: flex-start;
    align-items: center;
}
.gpt3__header-content__people img{
    
    width: 181.79px;
    height: 38px;
    

}
.gpt3__header-image{
  height: 100%;
}
.gpt3__header-content__people p{
    
    font-family: var(--font-family);
    align-items: center;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 0 1rem;
}


@media screen and (max-width:1050px){

  .gpt3__header-content__people p{
    font-size: 25px;
  }

    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content h1{
        font-size: 69px;
      }
    .gpt3__header-image img {
      width: 110%;
      height: 110%;
    }
}

@media screen and (max-width:768px){

    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content{
        margin: 6rem;
    }
      .gpt3__header-content h1{
        font-size: 59px;
      }
      .gpt3__header-content__people p{
        margin: auto;
        font-size: 10px;
      }
      .gpt3__header-image img{
        width: 110%;
        height: 110%;
      }
    
}
@media screen and (max-width:700px){

    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content{
        margin: 0 ;
    }
      .gpt3__header-content h1{
        font-size: 48px;
        line-height: 60px;

      }
      .gpt3__header-content{
        font-size: 10px;
      }
      .gpt3__header-content__people {
        flex-direction: column;
      }
      .gpt3__header-content__people p{
        margin: auto;
      }
      .gpt3__header-image  img{
        width: 110%;
        height: 110%;
      
      }
    
}
@media screen and (max-width:490px){

    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content{
        margin: 0 0 3rem ;
    }
    .gpt3__header-content p{
     font-size: 12px; 
    }
      .gpt3__header-content h1{
        
        font-size: 35px;
        line-height: 50px;


      }
      
      .gpt3__header-content__people {
        flex-direction: column;
      }
      .gpt3__header-content__people p{
        margin: 10px;
      }
      .gpt3__header-content__input button{
        font-size: 15px;
        line-height: 20px;
        
      }
      .gpt3__header-image img{
        width: 110%;
        height:110%;
        margin-bottom: -64px;
      }
    }